<% content_for :head do %>
  <%= javascript_include_tag "http://platform.twitter.com/anywhere.js?id=" + @api_key + "&v=1" %>
<% end %>

<style type="text/css" media="screen">

  #pay-with-tweet-button a {
    display: block;
    background: transparent url('/images/pay-with-a-tweet.png') center no-repeat;
    cursor: pointer;
    padding: 60px;
  }
  
</style>

<div id="content-copy" class="span-14 last">
  <h1>You're almost done</h1>
  <h2>Click the Pay with a Tweet button below</h2>
  <div id="pay-with-tweet-button">
    <% if @twitter_username == nil %>
      <a href="http://twitter.com/share?url=http://bit.ly/pssprtphotos&text=I%20just%20paid%20for%20my%20passport%20photos%20with%20a%20tweet%20from%20@getpssprtphotos&related=getpssprtphotos" target="_blank"></a>
    <% else %>
      <a href="http://twitter.com/share?via=<%= @twitter_username %>&url=http://bit.ly/pssprtphotos&text=I%20just%20paid%20for%20my%20passport%20photos%20with%20a%20tweet%20from%20@getpssprtphotos&related=getpssprtphotos" target="_blank"></a>
    <% end %>
  </div>
  <div>
    <p class="notice">
      You should have already received a confirmation email. <br/> Since
      you elected to <strong>Pay with a Tweet</strong> we will not be able
      to process your pictures until this step is completed.
    </p>
  </div>
  <div>
    <p class="info">
      If you've changed your mind, and would rather pay for the photo layout
      and verification, you can return to the homepage to repeat your previous
      steps and select the $1.99 payment option instead, or contact <%=
      link_to "customer support", contact_path %> and we will send you a
      payment link.
    </p>
  </div>
</div>