@charset "UTF-8";
/* CSS Document */

body {
	background-color: #6ecff6;
	background-image: url(../images/body_background.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	height: 100%;
}
/******************
Layout
******************/
#container {
  text-align: center;
}

#wrapper {
   text-align: left;
   width: 640px;
   margin-left: auto;
   margin-right: auto;
}
   
/******************
Type
******************/

h1 {
	text-shadow: 2px 2px 3px #666;
	filter: dropshadow(color=#666, offx=2, offy=2);
	font-size: 24px;
	color: #3b5b8f;
	margin-top: 20px;
	margin-bottom: 20px;
}

h2 {
	font-size: 18px;
  top: 24px;
  margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: #3b5b8f;
}

p {
	line-height: 20px;
	margin-bottom: 20px;	
}

/******************
Navigation
******************/

div.ui-tabs {
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 10px #000000;
	-moz-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
	background-color: #ff1a00;
}

ul.ui-tabs-nav {
  padding-left: 0px;
  margin: 0px 0px 65px 0px;
}

ul.ui-tabs-nav li {
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 13px;
	padding-left: 10px;
	padding-right: 10px;
}

ul.ui-tabs-nav li a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.3em;
  padding-top: 5px;
  padding-bottom: 13px;
}

ul.ui-tabs-nav li#last {
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	margin-left: 0px;
}

ul.ui-tabs-nav li#middle {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

ul.ui-tabs-nav li#first {
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	margin-right: 0px;
}

ul.ui-tabs-nav li strong {
	text-transform: uppercase;
}

ul.ui-tabs-nav li.ui-state-hover {
	background: #C40000; /* old browsers */
	background: #FF1A00; /* old browsers */
	background: -moz-linear-gradient(top, #FF1A00 13%, #770000 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(13%, #FF1A00), color-stop(100%, #770000)); /* webkit */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF1A00', endColorstr='#770000', GradientType=0 ); /* ie */
}

ul.ui-tabs-nav li.ui-state-active {
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #fff 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #fff)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#fff', GradientType=0 ); /* ie */
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	color: #666;
}

ul.ui-tabs-nav li.ui-state-active a {
  color: #666;
}
/* IE doesn't support selectors so can't do last-child */


div.ui-tabs-panel {
  padding-top: 40px;
	-moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
	background: -moz-linear-gradient(top, #fff 0%, #BFDCEB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #BFDCEB));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#BFDCEB', GradientType=0 );
	-webkit-box-shadow: 0px 0px 10px #000000;
	-moz-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
}

div.ui-tabs .ui-tabs-hide { display: none !important; }

div.ui-tabs li {list-style-type: none;}

#footer {
  margin-top: 20px;
  text-align: center;
}

#footer ul {
  margin: 0px;
  padding: 20px;
   
  border-radius: 10px;
  moz-border-radius: 10px;

	background: -moz-linear-gradient(top, #fff 0%, #BFDCEB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #BFDCEB));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#BFDCEB', GradientType=0 );

	-webkit-box-shadow: 0px 0px 10px #000000;
	-moz-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
}

#footer li { list-style-type: none; display: inline-block;	margin-right: 20px; }

#content-copy { 
	background: -moz-linear-gradient(top, #fff 0%, #BFDCEB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #BFDCEB));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#BFDCEB', GradientType=0 );
	padding: 40px;
	
	-webkit-box-shadow: 0px 0px 10px #000000;
	-moz-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
	
	border-radius: 10px;
  moz-border-radius: 10px;
}
	
#content-copy h3 {
	border-bottom: 1px solid #666;
	font-size: 24px;
}
	
#content-copy img {
  padding: 9px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 20px;
}

#content-copy img.left {
	margin-left: 0;
}

#content-copy img.right {
	margin-right: 0;
}