@charset "UTF-8";
/* CSS Document */

body {
	background-color: #6ecff6;
	background-image: url(../images/body_background.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	height: 100%;
	padding-bottom: 20px;
}
/******************
Layout
******************/
#container {
  text-align: center;

}

#wrapper {
   text-align: left;
   width: 640px;
   margin-left: auto;
   margin-right: auto;
}

/******************
Type
******************/

h1#header {
  height: 101px;
  background: url(/images/getpassportphoto_logo.png) no-repeat;
  margin-top: 20px;
}

h1#header span {
	display: none;
	text-align: center;
}

h2#tagline {
  text-align: center;
	font-size: 40px;
	color: black;
	font-weight: bold;
	letter-spacing: -0.7px;
	line-height: 35px;
  top: 24px;
  margin-bottom: 0px;
}

h3#subhead {
  font-size: 18px;
  line-height: 35px;
  text-align: center;
}

a {
	text-decoration: none;
	color: #3b5b8f;
	text-align: center;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
}

/******************
Navigation
******************/

div.ui-tabs {
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px #000000;
    -moz-box-shadow: 0px 0px 10px #000000;
    box-shadow: 0px 0px 10px #000000;
    background-color: #ff1a00;
}



ul.ui-tabs-nav {
  padding-left: 0px;
  margin: 0px 0px 65px 0px;
}

ul.ui-tabs-nav li {
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 12px;
	padding-left: 10px;
	padding-right: 10px;
}

ul.ui-tabs-nav li a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.3em;
}

ul.ui-tabs-nav li#last {
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	margin-left: 0px;
}

ul.ui-tabs-nav li#middle {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

ul.ui-tabs-nav li#first {
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	margin-right: 0px;
}

ul.ui-tabs-nav li strong {
	text-transform: uppercase;
}

ul.ui-tabs-nav li {
	background-color: #FF1A00;
}

ul.ui-tabs-nav li.ui-state-hover {
	background: #C40000; /* old browsers */
	background: #FF1A00; /* old browsers */
	background: -moz-linear-gradient(top, #FF1A00 13%, #770000 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(13%, #FF1A00), color-stop(100%, #770000)); /* webkit */
}

ul.ui-tabs-nav li.ui-state-active {
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #fff 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #fff)); /* webkit */
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	color: #666;
	position: relative;
	top: 1px;

}



ul.ui-tabs-nav li.ui-state-active a {
  color: #666;
}

ul.ui-tabs-nav li.ui-state-active a:hover {
	color: #ccc;
}
/* IE doesn't support selectors so can't do last-child */




div.ui-tabs-panel {
  padding-top: 40px;
	-moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
	background: -moz-linear-gradient(top, #fff 0%, #BFDCEB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #BFDCEB));
	-webkit-box-shadow: 0px 0px 10px #000000;
	-moz-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
}

div.ui-tabs .ui-tabs-hide { display: none !important; }

div.ui-tabs li {list-style-type: none;}

#footer {
  margin-top: 20px;
  text-align: center;
}

#footer ul {
  display: block;
  margin: 0px;
  padding: 20px;

  border-radius: 10px;
  -moz-border-radius: 10px;
	background-color: #fff;
	background: -moz-linear-gradient(top, #fff 0%, #BFDCEB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #BFDCEB));

	-webkit-box-shadow: 0px 0px 10px #000000;
	-moz-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
	height: 20px;
	text-align: center;
}

#footer li { list-style-type: none; display: block;	float: left; margin-right: 20px;}

#content-copy {
	background: -moz-linear-gradient(top, #fff 0%, #BFDCEB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #BFDCEB));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#BFDCEB', GradientType=0 );
	padding: 40px;

	-webkit-box-shadow: 0px 0px 10px #000000;
	-moz-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;

	border-radius: 10px;
  moz-border-radius: 10px;
  background-color:#fff;
}

#content-copy h3 {
	border-bottom: 1px solid #666;
}

#content-copy img {
  padding: 9px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 20px;
}

#content-copy img.left {
	margin-left: 0;
}

#content-copy img.right {
	margin-right: 0;
}

div#tabs-1 {background-color:#fff;}
div#tabs-2 {background-color:#fff;}
div#tabs-3 {background-color:#fff;}

#visa-image {
  padding-top: 19px;
}

#twitter-small img {
  padding-top: 1px;
}