<div id="content-copy" class="span-14 last">
    <%= image_tag "made-here.png", :alt => "Passport Photos Made Here", 
                                   :onmouseover => "/images/made-here-overlay.png", 
                                   :class => "right", 
                                   :id => "image-made-here", 
                                   :size => "180x180" %>
    <h1>Why you should consider using an online passport photos service?</h1>
    <h2>Would you rather wait in line at this place?</h2>
    <p>
      Don't endure long lines or terrible photos that you have to live with for 10 years? There's nothing wrong with
      getting your passport or visa photos printed at any of the copy centers, drug stores and general stores around
      town, but it's not the only option either.
    </p>
    
    <h2>Babies or small children?</h2>
    <p>
      Imagining convincing your little ones to sit still at the local copy center long enough for the always patient
      employee behind the counter to shoot a useful passport photo? Take the picture yourself, on your schedule, in the
      comfort of your own home. And give yourself the luxury of taking a few just in case junior won't sit still
    </p>
    <h2>Do it yourself, without the risk</h2>
    <p>
      Take the photo yourself, following <%= link_to "our instructions", "/why-use-our-passport-photos-service" %>, and
      we'll do the rest. Want to use your iPhone? No problem. Just email your picture to <a
      href="mailto:photos@getpassportphotos.com">photos@getpassportphotos.com</a> directly from your phone, and we'll
      take care of the rest
      </p>
    <ul>
      <li>Submit a high-quality photo that you can review before printing. Upload it from your computer, or email it to <a href="mailto:photos@getpassportphotos.com">photos@getpassportphotos.com</a> from your tablet or smartphone.</li>
      <li>No lines, no hassle.  We'll do the rest.</li>
      <li>Print it yourself or have us print it for you.</li>
      <li>In either case, we'll verify that the photo will pass inspection on the other end.</li>
      <li>Money back guarantee if your photo is rejected and we printed it for you*.</li>
    </ul>
</div>
