<div id="content-copy" class="span-14 last">
    <h1>Why use our service?</h1>
    <p>
      We are professional, experienced and quick. Our photos usually take 1
      day turnaround time. Our support team is personal and helpful to guide
      you along the way if you need any help.
    </p>
    <h2>Why wait in line at a local drug store or copy center?</h2>
    <p>
      Don't endure long lines or terrible photos that you have to live with
      for 10 years? There's nothing wrong with getting your passport or visa
      photos printed at any of the copy centers, drug stores and general
      stores around town, but it's not the only option either.
    </p>
    <h2>Babies or small children?</h2>
    <p>
      Breaking into a cold sweat trying to imagine convincing your little ones
      to sit still at the local copy center long enough for the always-patient
      employee behind the counter to shoot a useful passport photo? Take the
      picture yourself, on your schedule, in the comfort of your own home. And
      give yourself the luxury of taking a few extra just in case junior won't sit
      still for the first one.
    </p>
    <h2>Why do all the work yourself?</h2>
    <p>
      Why use other websites where they actually make <strong>you</strong> do
      the work of properly laying out your images. We only ask you to take the
      picture and upload. We don’t ask you to use other website’s software to
      frame your head. We do all the work so you don’t have to.
    </p>
    <h2>We don't want you to risk it</h2>
    <p>
      Take the photo yourself, following <%= link_to "our instructions",
      "/instructions-for-taking-passport-photos" %>, and we'll do the rest. If
      you choose to have us print and mail your passport photos, we'll guarantee
      they'll pass muster, or your money back.
    </p>
    <h2>Want to use your smartphone?</h2>
      <p>
        No problem. Just email your picture to <a
        href="mailto:photos@getpassportphotos.com">photos@getpassportphotos.com</a>
        directly from your phone, and we'll take care of the rest. Follow our
        <%= link_to "passport photo instructions",
        "/instructions-for-taking-passport-photos" %> for more detailed
        instruction.
      </p>
    <h2>Summary of our service</h2>
    <ul>
      <li>Submit a high-quality photo that you can review before printing. Upload it from your computer, or email it to <a href="mailto:photos@getpassportphotos.com">photos@getpassportphotos.com</a> from your tablet or smartphone.</li>
      <li>No lines, no hassle.  We'll do the rest.</li>
      <li>Print it yourself or have us print it for you.</li>
      <li>In either case, we'll verify that the photo will pass compliance on the other end.</li>
      <li>Money back guarantee if your photo is rejected and we printed it for you.</li>
    </ul>
</div>

