<div id="content-copy">
  <ul>
  	<li>
  	  <strong>
    	  <p>Why put up with long lines or terrible photos that you have to live with for 10 years?</p>
    	  <p>Take the photo yourself, follow our instructions, and upload you're photo here.</p>
      </strong>
    </li>
    <li>Submit a high-quality photo that you can review before printing. Upload it from your computer, or email it to photos@getpassportphotos.com from your Tablet or Smartphone.</li>
    <li>No lines, no hassle.  Just upload or email the photo to us, and we'll do the rest.</li>
    <li>Print it yourself or have us print it for you.</li>
    <li>In either case, we'll verify that the photo will pass inspection on the other end.</li>
    <li>Money back guarantee if your photo is rejected and we printed it for you*.</li>
  </ul>
</div>
