<div id="tabs" class="span-16 last">
  <ul class="last">
		<li id="first" class="span-5 left"><a href="#tabs-1"><strong>Print Your Own</strong><br/><span style="font-size: .8em;">Free*. Let us handle layout.</span></a></li>
		<li id="middle" class="span-5"><a href="#tabs-2"><strong>Let Us Do The Work</strong><br/><span style="font-size: .8em;">$7.99 Money-back guarantee.</span></a></li>
		<li id="last" class="span-5 last right"><a href="#tabs-3"><strong>In a Rush?</strong><br/><span style="font-size: .8em;">$12.99 Priority shipping</span></a></li>
  </ul>
	<div id="tabs-1" class="prepend-1 append-1 last">
      <script type="text/javascript">
        var z7x4a3 = new WufooForm();
        z7x4a3.initialize({
          'userName':'getpassportphotos', 
          'formHash':'z7x4a3', 
          'autoResize':false,
          'scrolling':false,
          'height':'325', 
          'ssl':false});
        z7x4a3.display();
      </script>
	</div>
	<div id="tabs-2" class="prepend-1 append-1 last">
      <script type="text/javascript">
        var q7x3s5 = new WufooForm();
        q7x3s5.initialize({
          'userName':'getpassportphotos', 
          'formHash':'q7x3s5', 
          'autoResize':false,
          'scrolling':false,
          'height':'325', 
          'ssl':false});
        q7x3s5.display();
      </script>
	</div>
	<div id="tabs-3" class="prepend-1 append-1 last">
    <script type="text/javascript">
      var r7x3q1 = new WufooForm();
      r7x3q1.initialize({
        'userName':'getpassportphotos', 
        'formHash':'r7x3q1', 
        'autoResize':false,
        'scrolling':false,
        'height':'325', 
        'ssl':false});
      r7x3q1.display();
    </script>
	</div>
</div>
<script type="text/javascript">

  $(document).ready(function() {
    $("#tabs").tabs({
      selected: 1
    });
  });
  
</script>
