<div id="content-copy">  
  <h3>Instructions for taking perfect passport photos</h3>
  <h3>With a standard digital camera</h3>
  <ol>
    <li><h4>Photographer:Stand 6 feet back from the subject.</h4></li>
    <li><h4>Background:A white of off-white wall.</h4></li>
    <li><h4>Shadows:Keep your distance.</h4></li>
    <li><h4>Expression:No teeth. Open Eyes.</h4></li>
    <li><h4>Clothing:Normal street clothes.</h4></li>
  </ol>
  <h3>If you have a smartphone</h3>
  <ol>
    <li>
      <h4>Photo: Same as with a camera.</h4>
      <p>Have someone else take you picture following the instructions in the Photo Guide, or take
      it yourself with a forward-facing camera on your phone. Be sure to hold your arm out parallel
      with the ground so you get a good, head-on shot if taking yourself.</p>
    </li>
    <li>
      <h4>Upload: We make it easy</h4>
      <p>Email the photo to <a href="mailto:photos@passportphotos.com">photos@getpassportphotos.com</a>
      and we'll send you instructions to finish your purchase</p>
    </li>
  </ol>
</div>