<div id="content-copy" class="span-14 last">
  <h1>Instructions for taking perfect passport photos</h1>
  <h3>Guidelines for a US Passport</h3>
  <p>
    These guidelines are specific to an US passport photo, but apply to nearly
    all passport, visa and ID photos. We'll be expanding our documentation
    over time, but if you have a question about photos for a specific type of
    document or piece of identification, please don't hesitate to contact us
    at <a
    href="mailto:hello@getpassportphotos.com">hello@getpassportphotos.com</a>
    or by submitting a question through our <%= link_to "online support form",
    contact_path %>.
  </p>
  <%= image_tag "camera-setup.jpg", :alt => "Proper Camera Setup for Passport Photos",
                                    :class => "right", 
                                    :id => "image-made-here", 
                                    :size => "220x220" %>
  <ol>
    <li>      
      <h4>Get Ready: Everyday looks</h4>
      <p>
        Comb your hair, remove glasses and wear normal street clothes. No
        uniforms, unless required in observance of religious beliefs and worn
        daily. No tinted glasses or sunglasses unless they are prescription
        eyewear. If you choose to wear tinted shades, you'll be asked to
        produce the prescription as a part of your application.     </p>
    </li>
    <li>
      <h4>Background:  Use a white or off-white wall</h4>
      <p>
        Hang a sheet or stand against a wall that is white or light colored.
        Make sure the subject stands about one foot away from the background
        to avoid shadows.
      </p>
    </li>        
    <li>      
      <h4>Photographer:  Stand 6 feet back from the subject.</h4>
      <p>
        Capture the subject from the shoulders and leave space above the head.
        Take about four images to ensure the shot.
      </p>
    </li>
    <li>
      <h4>Expression:  No teeth. Open Eyes.</h4>
      <p>
        The US State Department requires a "natural expression". We're not
        here to judge, but your natural expression should include open eyes
        with a relaxed smile.
      </p>
    </li>
    <li>
      <h4>
        Finished: upload your photo
      </h4>
      <p>
        All done on your end. Upload to <a
        href="http://www.getpassportphotos.com">www.getpassportphotos.com</a>.
        Have a smartphone? Have a <a href="#smartphone">look below</a>. It's
        easier than you think.
      </p>
    </li>
  </ol>

  <h3>Don't just take our word for it</h3>
  <p>
    The US State Department has put together an <a
    href="http://travel.state.gov/passport/get/get_2081.html">excellent
    guide</a> on shooting a high-quality photo for use in your passport
    application. Feel free to reed through it if you're curious, but keep
    in mind that we've read it for you. If you choose to take advantage of
    your service, we'll guarantee your passport photos will be accepted or
    your money back.
  </p>
  
  <h3 id="smartphone">If you have a Smartphone</h3>
  <ol>
    <li>
      <h4>Photo: Same as with a camera.</h4>
      <p>
        Have someone else take your picture following the instructions above,
        or take it yourself with a forward-facing camera on your phone. Be
        sure to hold your arm out parallel with the ground so you get a good,
        head-on shot if taking yourself.
      </p>
    </li>
    <li>
      <h4>Upload: We make it easy</h4>
      <p>
        Email the photo to <a
        href="mailto:photos@passportphotos.com">photos@getpassportphotos.com</a>
        and we'll send you instructions to finish your purchase
      </p>
    </li>
  </ol>
  
  <h3>If you just wanted to learn how to do it yourself</h3>
  <p>
    We respect those cut from the DIY cloth. In fact, we decided to provide
    this service after a couple of attempts at printing passport photos
    ourselves and realized that, although doable, it really wasn't worth the
    effort, the time, or the risk of getting it not quite right. There are
    couple of other services out there that provide online interfaces to
    laying out the photos yourself, but we honestly found them hard to use and
    the results weren't consistent. There are great instructions <a
    href="http://www.dpchallenge.com/tutorial.php?TUTORIAL_ID=22">here</a>,
    and if you have access to Adobe Photoshop, you can probably make use of <a
    href="http://www.nicmyers.com/photoshop-passport-template-v1">these
    templates</a> to make life a little easier.
  </p>
  <h3>Or, you can let us handle the details for you.</h3>
</div>