<div id="content-copy" class="span-14 last">  
  <h1>Instructions for taking perfect passport photos</h1>
  <h3>Guidelines for a US Passport</h3>
  <p>
    These guidelines are specific to a US passport photo, but apply to nearly
    all passport, visa and ID photos. We'll be expanding our documentation
    over time, but if you have a question about photos for a specific type of
    document or piece of identification, please don't hesitate to contact us
    at <a
    href="mailto:hello@getpassportphotos.com">hello@getpassportphotos.com</a>
    or by submitting a question through our <%= link_to "online support form",
    contact_path %>.
  </p>
  <%= image_tag "camera-setup.jpg", :alt => "Proper Camera Setup for Passport Photos",
                                    :class => "right", 
                                    :id => "image-made-here", 
                                    :size => "220x220" %>
  <ol>
    <li>      
      <h4>Photographer:  Stand 6 feet back from the subject.</h4>
      <p>
        In order to avoid any pin-cushion effects from your lens, setup a
        tripod or have the person taking your photograph stand at least six
        feat away from you. Visa and passport photos look best when the
        photographer is a decent distance away, and zooms in the frame the
        subject in the viewfinder so that their head is not cut off on top,
        and the photo stops just below the subject's chest.
      </p>
    </li>
    <li>
      <h4>Background:  Use a white or off-white wall</h4>
      <p>
        Hanging a sheet on the wall behind you might work, but a white wall is
        your best bet.
      </p>
    </li>
    <li>
      <h4>Shadows:  Keep your distance from the background</h4>
      <p>
        Take one step forward from the wall to help eliminate shadows from
        being thrown behind you. Plenty of diffuse lighting will help as well.
        Overhead lighting is fine, but not spotlights or bright halogens.
      </p>
    </li>
    <li>
      <h4>Expression:  No teeth. Open Eyes.</h4>
      <p>
        The US State Department requires a "natural expression". We're not
        here to judge, but your natural expression should include open eyes
        with a relaxed smile. No need to "say cheese" and show off your pearly
        whites for this photo. Remember, eyes open, lips touching, facing
        directly at the camera, and you'll be fine.
      </p>
    </li>
    <li>
      <h4>Clothing:  Normal street clothes.</h4>
      <p>
        No uniforms, unless required in observance of religious beliefs and
        worn daily. No tinted glasses or sunglasses unless they are
        prescription eyewear. If you choose to wear tinted shades, you'll be
        asked to produce the prescription as a part of your application.
      </p>
    </li>
    <li>
      <h4>Don't just take our word for it</h4>
      <p>
        The US State Department has put together an <a
        href="http://travel.state.gov/passport/get/get_2081.html">excellent
        guide</a> on shooting a high-quality photo for use in your passport
        application. Feel free to reed through it if you're curious, but keep
        in mind that we've read it for you. If you choose to take advantage of
        your service, we'll guarantee your passport photos will be accepted or
        your money back.
      </p>
    </li>
  </ol>
  
  <h3>If you have a Smartphone</h3>
  <ol>
    <li>
      <h4>Photo: Same as with a camera.</h4>
      <p>
        Have someone else take your picture following the instructions above,
        or take it yourself with a forward-facing camera on your phone. Be
        sure to hold your arm out parallel with the ground so you get a good,
        head-on shot if taking yourself.
      </p>
    </li>
    <li>
      <h4>Upload: We make it easy</h4>
      <p>
        Email the photo to <a
        href="mailto:photos@passportphotos.com">photos@getpassportphotos.com</a>
        and we'll send you instructions to finish your purchase
      </p>
    </li>
  </ol>
  
  <h4>If you just wanted to learn how to do it yourself</h3>
  <p>
    We respect those cut from the DIY cloth. In fact, we decided to provide
    this service after a couple of attempts at printing passport photos
    ourselves and realized that, although doable, it really wasn't worth the
    effort, the time, or the risk of getting it not quite right. There are
    couple of other services out there that provide online interfaces to
    laying out the photos yourself, but we honestly found them hard to use and
    the results weren't consistent. There are great instructions <a
    href="http://www.dpchallenge.com/tutorial.php?TUTORIAL_ID=22">here</a>,
    and if you have access to Adobe Photoshop, you can probably make use of <a
    href="http://www.nicmyers.com/photoshop-passport-template-v1">these
    templates</a> to make life a little easier.
  </p>
  <h3>Or, you can trust us to figure out the details for you.</h3>
</div>