<div id="content-copy" class="span-16 pull-1 last">
  <h2>We take your privacy seriously</h2>
  <h3>How do we use your personal information</h3>
  <h4>We will never share your information</h4>
  <p>
    GetPassportPhotos.com collects only the information necessary to complete
    your specific order, and to keep in touch with you over the course of
    preparing your finished passport photos. We promise never to share, sell
    or lend this information to anyone, ever.
  </p>
  <h4>We only hold your uploaded photos for 90 days</h4>
  <p>
    We will delete your uploaded photos from our systems after 90 days. We
    maintain a backup of this information for that period of time in case
    their is an issue with your order in the future. Again, your photos will
    never be shared or shown to anyone other than GetPassportPhotos.com
    employees and partner services used in the production of your final
    passport or visa photos.
  </p>
  <h4>Web site use information</h4>
  <p>
    Similar to other commercial Web sites, our Web site utilizes website
    analytics based on the IP address of your computer to understand our
    customer database and to better understand the success of our marketing
    efforts and the reach of our services.
  </p>
  <h4>Notice of new services and changes</h4>
  <p>
    Occasionally, we may also use the information we collect to notify you
    about important changes to our Web site, new services and special offers
    we think you will find valuable. As our customer, you will be given the
    opportunity to notify us of your desire not to receive these offers by
    opting-out of any communications.
  </p>
  <h3>How we protect your information</h3>
  <h4>How do we secure information transmissions?</h4>
  <p>
    Email is not recognized as a secure medium of communication. For this
    reason, we request that you do not send private information to us by
    email. Some of the information you may enter on our Web site may be
    transmitted securely via Secure Sockets Layer SSL, 128 bit encryption
    services. Pages utilizing this technology will have URLs that start with
    HTTPS instead of HTTP.
  </p>
  <h4>How can you access and correct your information?</h4>
  <p>
    You may request access to all your personally identifiable information
    that we collect online and maintain in our database by emailing
    support@getpassportphotos.com.
  </p>
  <h4>Required Disclosure</h4>
  <p>
    We may disclose your personal information if required to do so by law or
    subpoena or if we believe that such action is necessary to (a) conform to
    the law or comply with legal process served on us or affiliated parties;
    (b) protect and defend our rights and property, our site, the users of our
    site, and/or our affiliated parties; (c) act under circumstances to
    protect the safety of users of our site, us, or third parties.
  </p>
    
</div>