<div id="content-copy" class="span-16 pull-1 last">
  <h2>Sitemap</h2>
  <ul>
    <li><a href="http://www.getpassportphotos.com">Getpassportphotos.com HOME Page</a></li>
    <li><a href="http://www.getpassportphotos.com/why-use-our-passport-photos-service">Why should you use our service?</a></li>
    <li><a href="http://www.getpassportphotos.com/instructions-for-taking-passport-photos">Instructions for taking a perfect passport photo</a></li>
    <li><a href="http://www.getpassportphotos.com/contact">Contact Information</a></li>
    <li><a href="http://www.getpassportphotos.com/privacy">Privacy Policy</a></li>
  </ul>
</div>