<div id="content-copy" class="span-14 last">
    <h2>Thank you for your business</h2>
    <h3>The details</h3>
    <p>
      Your transaction has been completed, and a confirmation and receipt for
      your purchase has been emailed to you. You may log into your account at
      <a href="http://www.paypal.com/us">www.paypal.com/us</a> to view details
      of this transaction.
    </p>
    <h3>Have a question?</h3>
    <p>
      If you have any questions or to change anything about your order, you
      should contact <%= link_to "customer support", contact_path %>.
    </p>
</div>