<div class="span-6 right last">
  <div id="visa-image" class="span-4">
    <img src="/images/visa.gif" border="0" alt="Visa, Mastercard, Amex and Discover Accepted">
  </div>
  <div id="paypal-image" class="span-2 last">
    <a href="http://www.paypal.com"><img src="/images/paypalverified.gif" border="0" alt="PayPal Verified"></a>
  </div>
</div>