<div id="header" class="span-16">
  <a href="/"><h1 id="header"><span>GetPassportPhotos.com</span></h1></a>
  <h2 id="tagline">Get your passport photos online</h2>
  <h3 id="subhead">Fast, flexible and guaranteed</h3>
</div>