<div id="header" class="span-16">
  <a href="/" title="GetPassportPhoto.com"><h1 id="header"><span>GetPassportPhoto.com</span></h1></a>
  <h2 id="tagline">Get your passport photos online</h2>
  <h3 id="subhead">Fast, flexible and guaranteed</h3>
</div>
