<div id="header" class="span-16">
  <a href="/" title="GetPassportPhoto.com"><h1 id="header"><span>Get your passport photos online</span></h1></a>
  <h2 id="tagline">Passport photos sent to your inbox or mailbox</h2>
  <h3 id="subhead">Simple, fast and guaranteed</h3>
</div>
