<div id="header" class="span-16">
  <a href="/" title="GetPassportPhoto.com"><h1 id="header"><span>GetPassportPhoto.com</span></h1></a>
  <div>
    <li id="twitter-small"><a href="http://twitter.com/getpssprtphotos" target="_blank"><img alt="Twitter" src="/images/twittersmall.png" /></a></li>
    <li><fb:like href="http://www.facebook.com/pages/GetPassportPhotoscom/201382773224772" layout="button_count" show_faces="false" width="55" font="tahoma"></fb:like></li>
  </div>
  <h2 id="tagline">Get your passport photos online</h2>
  <h3 id="subhead">Fast, flexible and guaranteed</h3>
</div>
